*.log
*.ini
*.suo
*.VC.db
*.VC.db-shm
*.cso
*.cod
*.tlog
*.db-wal
*.opendb
*.exe
*.exp
*.ilk
*.lib
*.pdb
.vs
*.obj
*.vcxproj
*.filters
obj/
*.DDS
*.hdr
*.jpg
*.bat
*.fbx
*.mdl
*.anim
*.event
*.png
*.tga
*.wav
*.m4a
*.mp3
